<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
		<link rel="stylesheet" href="{{ '/styles/styles.css' | relative_url }}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52207113-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-52207113-1');
        </script>
    </head>
    
    <body>
        <div id="container">
            <div id="header">
                <h1 class="global-title">{{ site.title }}‍</h1>
                {% if site.nav-links %}
                <nav>
                    <ul>
                        {% for link in site.nav-links %}
                        <li>
                            {% if link.external == true %}
                            <a class="tag" href="{{ link.url }}">
                            {% endif %}
                            {% if link.external != true %}
                            <a class="tag {% if page.url == link.url %}current{% endif %}" href="{{ link.url | relative_url }}">
                            {% endif %}
                                {{ link.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div id="body">
            {% endif %}
