{% include head.html %}

{% if page.is_post %}<a
  href="{{ '/' | relative_url }}"
  >← Back to all posts</a
>{% endif %}

{% unless page.url == "/" %}
<h1>
  {% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{ post.title
  }}{% endif %}
</h1>
{% endunless %}

{% if page.date %}
<div class="timestamp timestamp-block">
  {% include post-date.html %} • By {{ post.author }}
</div>
{% endif %}

<div class="categories">
{% for category in page.categories %}
<span class="tag">{{ category }}</span>
{% endfor %}
</div>

{{ content }}

{% include foot.html %}